:root{
    --font-family-base:"Gilroy",sans-serif;
    --color-dark:#22253b;
    --color-white:#fafbfd;
    --color-orange:#f15525;
    --color-light-blue:#38BFF2;
    --color-morning-sky:#eaf2f5;
}