.header {
  padding-top: 12px;
  @include mobile {
    padding-top: 7px;
  }

  &__inner {
    display: flex;
  
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    max-width: 1160px;
    font-size: 13px;
    border-radius: 75px;
    padding: 10px;
    padding-left: 21px;
   
    @include tablet {
      column-gap: 20px;
      margin-bottom: 24px; 
    }
  }

  &__menu {
    margin-right: auto;

    @include mobile{
      display: none;
    }
    &-list {
      display: flex;
      align-items: center;
      column-gap: 41px;

      @include tablet {
        column-gap: 20px;
      }
    }
   
  }

  &__auth-list {
    display: flex;
    align-items: center;
    column-gap: 15px;
    @include mobile{
      column-gap: 0;
    }
  }
  &__register-button {
    color: #3c3e50;
    
    &:hover {
      color: var(--color-orange);
    }
  }
  &__auth-item {
    background-color: var(--color-light-blue);
    border-radius: 34px;
    padding: 9px 15px;
    @include transition(background-color, 0.3s, ease-in);
    @include hover-effect-media(var(--color-orange), background-color);
  }

  &__login-button {
    color: #fff;
  }
}
